.footer-bg_color{
    background-color: #ffc6c0;
}
 .recipes {
    font-size: 2em;
}

header{
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba(231, 205, 177, .8), rgba(77, 50, 25, .8)), url("../img/pan_house.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}