span {
    color: white;
}

btn {
    -webkit-appearance: none;
}
.r_list{
    color: #fff;
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 600;
    font-family: "Garamond", serif;
}
.home__btn--message-box {
    position: absolute;
    bottom: 100%;
    left: 47%;
    transform: translate(-60%, -80%);
    text-align: left;

}

.foot {
    position: relative;
    top: 15em;
    
}