.footer-bg_color{
    background-color: #000;
    color: #fff;
}
 .recipes {
    font-size: 2em;
}
.project {
    background-color: #d1c0b5;
   
}
.header__pages {
    height: 10vh;
    background-color: #a5836d;
}

