div{
    padding: 3rem;
    margin: 1rem;
}

.first_div{
    font-size: 3rem;
    background-color: greenyellow;
}
.first_div:hover{
    font-weight: bold;
}
.second_div{
    font-size: 3rem;
    background-color: blue;
}
.second_div:hover{
    font-weight: bold;
}
.third_div{
    font-size: 3rem;
    background-color: red;
}
.third_div:hover{
    font-weight: bold;
}
label{
    margin: 1rem;
}
button{
    margin: 1rem;
}
input{
    margin-top: .75em;
}


